@import 'tailwindcss';
@source "./_js/**";

@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@layer base {
  p {
    font-weight: lighter;
    line-height: 1.5em;
    font-size: 16px;
    @media (max-width: 510px) {
      font-size: 15px;
    }
  }
}

@layer components {
  @media (max-width: 450px) {
    .splide__arrows {
      font-size: 12px;
    }
  }
  .splide__slide {
    display: flex;
    justify-content: center;
  }
  .splide__slide img {
    height: 100%;
    object-fit: cover;
  }
  #thumbnail-carousel .splide__slide img {
    width: 100%;
  }

  #thumbnail-carousel .splide__slide {
    opacity: 0.8;
  }

  #thumbnail-carousel .splide__slide.is-active {
    opacity: 1;
    border: none !important;
  }
}
