.the-team-grid {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: calculate-rem(96px);
  grid-row-gap: calculate-rem(48px);
  @media (max-width: $medium) {
    grid-template-columns: 1fr;
  }
}

.the-team-grid__item {
  @extend .flex;
  row-gap: calculate-rem(32px);
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calculate-rem(16px);
  @media (max-width: $large) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: $medium) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.contact-form-grid {
  display: grid;
  $grid-template-columns: "repeat(2, [col-start] 1fr)";
  grid-template-columns: #{$grid-template-columns};
  grid-gap: calculate-rem(64px) calculate-rem(36px);
  @extend %spacer;
  @media (max-width: $small) {
    grid-gap: calculate-rem(24px);
    .contact-form-grid__item {
      grid-column: col-start / span 2;
    }
  }
}

.contact-form-grid__full {
  grid-column: col-start / span 2;
}