@use 'abstracts/functions';
@use 'abstracts/variables';
@use 'abstracts/mixins';

.card {
  padding: functions.calculate-rem(16px) functions.calculate-rem(52px) 0
    functions.calculate-rem(24px);
  min-height: functions.calculate-rem(274px);
}

.card--bg-image {
  background-size: cover;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(variables.$mid-gray, rgba(0, 0, 0, 0));
  }
}

.card__content {
  position: relative;
}

.card__title {
  color: variables.$white;
  margin: 0 0 functions.calculate-rem(8px);
  @include mixins.font-size(28px);
}

.card__text {
  color: variables.$white;
  margin: 0;
}
