@use 'abstracts/functions';
@use 'abstracts/variables';

.modal {
  background-color: rgba(variables.$black, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__inner {
  background-color: variables.$white;
  padding: functions.calculate-rem(40px);
  position: relative;
}

.modal__close {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 15px;
  //@include mixins.font-size(14px);
}
