@use 'abstracts/functions';
@use 'abstracts/variables';

.profile-image {
  max-width: functions.calculate-rem(320px);
  width: 100%;
  border-radius: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  @media (max-width: variables.$medium) {
    width: 65%;
  }
}
