@use 'abstracts/functions';
@use 'abstracts/mixins';
@use 'abstracts/variables';
@use 'sass:color';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: variables.$mid-gray;
  font-family: 'Open sans', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  color: variables.$main-theme-color;
}

h2 {
  @include mixins.font-size(42px);
  margin: functions.calculate-rem(32px) 0;
  @media (max-width: variables.$small) {
    @include mixins.font-size(36px);
  }
}

p {
  font-weight: lighter;
  line-height: 1.5em;
  @include mixins.font-size(16px);
  @media (max-width: variables.$small) {
    @include mixins.font-size(15px);
  }
}

ul {
  margin: 0;
  padding: 0;
}

svg {
  path {
    fill: variables.$main-theme-color;
    transition: fill 0.2s;
  }
  &:hover {
    path {
      fill: color.scale(variables.$main-theme-color, $lightness: -10%);
    }
  }
}
